<mat-toolbar>
  <button matIconButton class="example-icon" aria-label="Open navigation menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Task Manager!</span>
  <span class="example-spacer"></span>
  <button matIconButton class="example-icon favorite-icon" aria-label="Mark as favorite">
    <mat-icon>favorite</mat-icon>
  </button>
  <button matIconButton class="example-icon" aria-label="Share task list">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="container mt-4">
  <div class="row mt-5">
    <div class="col">
      <app-task-form [taskSubmitStatus]="submitStatus" (formSubmitted)="sendTaskRequestToService($event)"></app-task-form>
    </div>
    <div class="col">
      <app-task-list [tasks]="tasks"></app-task-list>
    </div>
  </div>
</div>
